<ion-content>
  <ion-content>
    <ion-item-group *ngIf="!selectedUserName;">
      <ion-label>Users:</ion-label>
      <ion-item button *ngFor="let userName of userNames$ | async" (click)="selectUserName(userName)">
        <ion-label>{{userName}}</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-fab
      *ngIf="(socketConnected$ | async) else notConnected"
      vertical="bottom"
      horizontal="left"
      slot="fixed">
        <ion-icon style="font-size: 72px;" src="/assets/d20.svg" (click)="handleRoll()"></ion-icon>
    </ion-fab>
  </ion-content>
  <ng-template #notConnected>
    <ion-fab
      vertical="center"
      horizontal="center"
      slot="fixed">
      <p>NOT CONNECTED</p>
    </ion-fab>
  </ng-template>
</ion-content>